*{
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    
}

.flex-item{
    width: 200px;
    height: 200px;
    margin: 10px;
}

.bg-red{
    background-color: red;
}

.bg-black{
    background-color: black;
}

.bg-yellow{
    background-color: yellow;
}