*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    padding: 5px;
    background-color: aquamarine;
    justify-content: space-between;
}

.logo{
    width: 50px;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.nav{
    display: flex;
}

.nav-item{
    list-style: none;
    padding: 15px;
}

.nav-item a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.card{
    flex-basis: 20%;
    padding: 5px;
}

.w-100{
    width: 100%;
}

.menu-mobile{
    display: none;
}

/* CSS responsive */
@media screen and (max-width: 768px) {
    .menu{
        display: none;
    }

    .header{
        position: relative;
        justify-content: center;
    }

    .menu-mobile{
        display: block;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
    }

    .card{
        flex-basis: 50%;
    }
}