*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.w-250{
    width: 250px;
}

.form{
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.form h3{
    margin: 10px;
    text-align: center;
}

.form-content{
    display: flex;
}

.form-content p{
    flex-basis: 25%;
    text-align: center;
}